<div class="container">
	<div class="row col-lg-offset-3">
		<div class="col-lg-4">
			<div class="form-group">
				<div class="row">
					<h3>
						<span class="label">Country
							<span class="badge"></span>
						</span>
					</h3>
					<select class="form-control" id="country" required (change)="onCountryChange($event)">
						<option value="-1">--no value--</option>
						<option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
					</select>
				</div>
				<div class="row">
					<h3>
						<span class="label">League
							<span class="badge"></span>
						</span>
					</h3>
					<select class="form-control" id="league" required (change)="onLeagueChange($event)">
						<option value="-1">--no value--</option>
						<option *ngFor="let league of leagues" [value]="league.id">{{league.name}}</option>
					</select>
				</div>
				<div class="row">
					<h3>
						<span class="label">Team
							<span class="badge"></span>
						</span>
					</h3>
					<select class="form-control" id="team" required (change)="onTeamChange($event)">
						<option value="-1">--no value--</option>
						<option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
					</select>
				</div>
				<div class="row">
					<h3>
						<span class="label">Player
							<span class="badge"></span>
						</span>
					</h3>
					<select class="form-control" id="player" required (change)="onPlayerChange($event)">
						<option value="-1">--no value--</option>
						<option *ngFor="let player of players" [value]="player.id">{{player.name}} {{player.surname}}</option>
					</select>
				</div>
				<div class="row">
					<button class="btn btn-info clear-all" (click)="clearAll()">Clear</button>
				</div>
				<div class="row">
					<button class="btn btn-info gen-doc" (click)="generateDoc()">Get Document</button>
				</div>
			</div>
		</div>
		<div class="container col-lg-8">

			<app-player-info-component-stat [player]="currentPlayer"></app-player-info-component-stat>

		</div>
	</div>
</div>