<div>
    <h1>
      <span class="label name">{{player.name}} {{player.surname}}</span>
    </h1>
    <div class="row">
      <div class="col-md-6">
        <h3>Position:
          <span class="label position">{{player.position}}</span>
        </h3>
      </div>
      <div class="col-md-6">
        <h3>Goals:
          <span class="label goals">{{player.goals}}</span>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Wins:
          <span class="label winMatches">{{player.winMatches}}</span>
        </h3>
      </div>
      <div class="col-md-6">
        <h3>Passes:
          <span class="label keyPasses">{{player.keyPasses}}</span>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Loses:
          <span class="label lostMatches">{{player.lostMatches}}</span>
        </h3>
      </div>
      <div class="col-md-6">
        <h3>Red cards:
          <span class="label redCards">{{player.redCards}}</span>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Draws:
          <span class="label drawMatches">{{player.drawMatches}}</span>
        </h3>
      </div>
      <div class="col-md-6">
        <h3>Yellow cards:
          <span class="label yellowCards">{{player.yellowCards}}</span>
        </h3>
      </div>
    </div>
  </div>